<form [formGroup]="login"   (ngSubmit)="submit()" >
  <div class="container" style="display: flex; flex-direction: column">
    <div>
    <label ><b>Username</b></label>
    <input
      style="width: 20%"
      type="text"
      placeholder="Enter Username"
      name="email"
      type="email"
      class="input"
      formControlName="email"
    >
    </div>
    <div class="jpr1" *ngif="!login.controls['email'].valid && login.controls['email'].touched">
      A valid email is needed
    </div>

<div>
    <label ><b>Password</b></label>
    <input
      style="width: 20%"
      type="password"
      placeholder="Enter Password"
      name="password"
      class="input"
      formControlName="password"    
     >
    </div>
     <div class="jpr1" *ngif="!login.controls['password'].valid && login.controls['password'].minlength(6)">
      A valid pass is needed
    </div>

    <button class="button" style="width: 20%" type="submit">Login</button>
  </div>
</form>
<div class="alert" *ngif="message">success</div>


